.band {
    position: relative;
    width: 560px;
    height: 14px;
}

.line {
    position: absolute;
    width: 560px;
    height: 0px;
    left: 0px;
    top: calc(50% - 0px/2);

    border: 1px solid #000000;
}

.ledgerLine {
    position: relative;
    width: 50px;
    height: 0px;
    left: 45.5%;
    top: 50%;

    border: 1px solid #000000;
}

.lowerNote {
    width: 37px;
    height: 104px;
    position: relative;
    top: -82px;
    left: auto;
}
.upperNote {
    width: 37px;
    height: 104px;
    transform: rotate(-180deg);
    position: relative;
    top: -7px;
    left: auto;

}

.gClef {
    position: absolute;
    width: 67px;
    height: 182px;
    left: 1%;
    right: 88.04%;
    top: 26.78%;
    bottom: 23.07%;
}

.fClef {
    position: absolute;
    left: 0%;
    right: 83.21%;
    top: 33.39%;
    bottom: 38.83%;
}